<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale" >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Advanced React Application</title>
</head>
<body>
  <h2> hello express and ejs <h2>
    <%= answer %>
</body>
</html>
